LICENSE_PORT=8787
LICENSE_BIND=0.0.0.0
LICENSE_ADMIN_KEY=ivplayer-admin

PUBLIC_SITE_URL=https://ivplayer.tr
IVPLAYER_CURRENCY=TRY
IVPLAYER_ONE_YEAR_PRICE=29900
IVPLAYER_LIFETIME_PRICE=79900

PAYMENT_PROVIDER=paytr
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_TEST_MODE=1
